<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">CourseApp</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <br>
  <div class="custom" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="createcourse" routerLinkActive="active">Register Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="courses" routerLinkActive="active">View Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="deletecourse" routerLinkActive="active">Delete Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="updatecourse" routerLinkActive="active">Update Course</a>
      </li>
    </ul>
  </div>
</div>
</nav>
<router-outlet></router-outlet>